<div
    class="bg-transparent rounded-md h-screen w-[98%] max-w-[96rem] mx-auto d-flex flex-wrap justify-content-around gap-4">
    <!-- <div class=" relative isolate px-6 pt-14 lg:px-8 -z-10"> -->
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>
    <!-- <div class="col-lg-3 pt-1" *ngFor="let product of productList">
        <div class="box-shadow">
            <div class="card bg-black text-pink-600">
                <img class="img-fluid card-img-top" style="height: 200px;" [src]="product.image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text text-pink-600">${{product.price}} </p>
                    
                    <div class="row">
                        <div class="col-6">
                            <i class="fa-solid fa-star-half-stroke  m-0" style="color: #f1f50f;"></i>
                            <span class="text-muted">(21)</span>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-sm btn-success" (click)="addItemToCart(product.productId)"> Add To
                                Cart</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> -->

    <div *ngFor="let product of productList" class="col-lg-3 pt-1 scroll-smooth">
        <div class="card h-96 bg-black px-2 pt-2 flex flex-col gap-2">
            <div class="w-full bg-white p-3 rounded-sm">
                <img class="card-img-top object-center object-contain h-48 " [src]="product.image">
            </div>
            <div>
                <h5 class="text-2xl font-bold text-[#ff80b5] font-sans">{{product.title}}</h5>
            </div>


        </div>

    </div>

    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>
    <!-- </div> -->
</div>